<article>
  <form action="/api/auth/recovery" method="put">
    <header>
      <h1>Recuperar contrase침a</h1>
    </header>
    <input type="password" name="newPassword" placeholder="Nueva Contrase침a" required>
    <input type="password" name="confirmPassword" placeholder="Confirmar Contrase침a" required>
    <footer>
      <input type="submit" value="Recuperar">
    </footer>
    <a href="/login">Quiero iniciar sesi칩n</a>
  </form>
</article>
<script src="/js/fetchUpdatePass.js"></script>